---
import { Main } from '../components/Main.tsx'
import { fetchAll } from "../lib/lunch-fetcher/fetch-restaurants";
const restaurants = await fetchAll();

const lastUpdated = new Date().toISOString();
---
<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>Stena Lunch</title>
    </head>
    <body>
        <Main restaurants={restaurants} lastUpdated={lastUpdated} />
    </body>
</html>