---
export interface Props {
    lastUpdated: string;
}

const { lastUpdated } = Astro.props;
---
<div className="pt2 ma4">
    <small className="mid-gray">
    Uppdaterat <time datetime={lastUpdated}>{lastUpdated}</time>
    </small>
</div>
<script>
const timetag = document.querySelector('time[datetime]');
timetag.textContent = new Date(timetag.dateTime).toLocaleDateString("sv-SE", {
    hour: "2-digit",
    minute: "2-digit",
    second: "2-digit",
});
</script>