---
import * as React from "react";
import { TopLink } from "./Partials.tsx";
import DateFooter from './DateFooter.astro';

export interface Props {
  lastUpdated: string;
  showToday: boolean;
}

const { lastUpdated, showToday } = Astro.props;
---
<main class="sans-serif">
  <TopLink showToday={showToday} />
  <div class="grid">
    <slot/>
  </div>
  <DateFooter lastUpdated={lastUpdated} />
</main>
<style>
.grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
  }
}
</style>